<div class="fun-facts-section sec-padding" id="promocion">
    <div class="container h-100">
        <div class="row">
            <div class="section-title">
                <!-- <h2>Envio</h2> -->
                <h2><span>free shipping</span></h2>
                <h4>Get 3 months of shipping for free before the promotion expire!!!</h4>
            </div>
        </div>
        <div class="row">
            <div class="fun-facts-img">
                <img src="./assets/img/promo.png" alt="promo-img">
            </div>
            <div class="fun-facts-items">
                <div class="row">
                    <div class="fun-facts-item">
                        <h3>{{time.days}}</h3>
                        <p>days</p>
                    </div>
                    <div class="fun-facts-item">
                        <h3>{{time.hours}}</h3>
                        <p>hours</p>
                    </div>
                    <div class="fun-facts-item">
                        <h3>{{time.minutes}}</h3>
                        <p>minutes</p>
                    </div>
                    <div class="fun-facts-item">
                        <h3>{{time.seconds}}</h3>
                        <p>seconds</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section-title">
                <p><a href="#newsletter" class="btn btn-1">Subscribe</a></p>
                
            </div>
        </div>
    </div>
</div>