    $main-color:#24caac;
    $color-1: #eaa023;
    $color-2: #e91e63;
    $dark-800:#24292d;
    $dark-700: #2f363e;
    $white-900: #ffffff;
    $white-800: rgba(255,255,255,0.8);
    $shadow: 0 0 15px rgba(0,0,0,0.2);






    // **********************
    /***** global style *****/ 

    $main-color:#24caac;
    $color-1: #eaa023;
    $color-2: #e91e63;
    $dark-800:#24292d;
    $dark-700: #2f363e;
    $white-900: #ffffff;
    $white-800: rgba(255,255,255,0.8);
    $shadow: 0 0 15px rgba(0,0,0,0.2);
    
:root{
    scroll-behavior: smooth;
}
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
    max-width: 100%;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.align-content-center{
    align-content: center;
}

.h-100{
    min-height: 50vh;
}

.sec-padding{
    padding: 80px 0;
}

.section-title{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 60px;
    
}

.section-title h4{
    margin-top: 50px;
    color: $color-2;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
    


.section-title h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
    color:$shadow;
    font-weight: 600;
    background: linear-gradient(51deg, rgba(255,58,1,1) 0%, rgba(255,233,1,1) 49%);
    
    

}

.section-title h2 span{
    position: relative;
}

.section-title h2 span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $main-color;
    transform: skewY(-3deg);
}

p{
    font-size: 16px;
    color: $white-800;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    font-family: inherit;
}

.btn-1{
    background-color: $main-color;
    color: $white-900;
}

.btn-1:hover{
    background-color: transparent;
    border-color: $main-color;
    color: $main-color;
}

.fun-facts-section{
    background-color: $dark-800;
}

.fun-facts-img{
    display: flex;
    justify-content: center;
}

.fun-facts-img img{
    max-width: 420px;
    width: 100%;
    animation: zoomOutIn01 7s linear infinite;
}


.fun-facts-items{
   display: flex;
   align-items: center;
   width: 50%;
}
.fun-facts-img{
    width: 50%;
}

.fun-facts-items row{
    width: 100%;
}

.fun-facts-item:nth-child(1){
    background-color: $color-1;
}
.fun-facts-item:nth-child(2){
    background-color: $color-2;
}
.fun-facts-item:nth-child(3){
    background-color: $main-color;
}
.fun-facts-item:nth-child(4){
    background-color: $dark-700;
}


.fun-facts-item{
    background-color: $dark-700;
    width: 100px;
    height: 100px;
    margin: 0 5px 0px;
    padding: 0px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.fun-facts-item h3{
    font-size: 35px;
    color: $white-900;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.fun-facts-item p{
    text-transform: uppercase;
    color:$white-900
}

.section-title p{
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    color:$white-900;
    font-weight: 600;

}

/*responsive*/

@media(max-width:991px){
    .section-title{
        width: 100%;
    }
    .fun-facts-img, .fun-facts-items{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .section-title p{
        margin-top: 30px;
    }
}

@media(max-width:767px){
    .section-title{
        width: 100%;
    }
    .fun-facts-img, .fun-facts-items{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .fun-facts-items .fun-facts-item{
        width: 85px;
        height: 85px;
    }

    .section-title p{
        margin-top: 30px;
    }
}

@media(max-width:574px){
    .section-title{
        width: 100%;
    }
    .fun-facts-img, .fun-facts-items{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .fun-facts-items .fun-facts-item{
        width: 85px;
        height: 85px;
    }

    .section-title p{
        margin-top: 30px;
    }
}


@media(max-width:375px){
    .section-title{
        width: 100%;
    }
    .fun-facts-img, .fun-facts-items{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .fun-facts-items .fun-facts-item{
        width: 80px;
        height: 80px;
    }

    .section-title p{
        margin-top: 30px;
    }
}

@media(max-width:320px){
    .section-title{
        width: 100%;
    }
    .fun-facts-img, .fun-facts-items{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .fun-facts-items .fun-facts-item{
        width: 70px;
        height: 70px;
    }

    .section-title p{
        margin-top: 30px;
    }
}












































    // **********************
.why-us-section{
    background-color: $dark-800;
    padding-bottom: 50px;
}

.why-us-item{
    width: calc((100% / 4) - 35px);
    margin: 0 15px 30px;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.why-us-item::before,
.why-us-item::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: $dark-700;
    z-index: -1;
    transition: all 0.5s ease;
}

.why-us-item:hover::before{
    transform: scale(1,0);
}

.why-us-item:hover::after{
    transform: scale(0,1);
}

.why-us-item:nth-child(1){
    background-color: $color-1;
}
.why-us-item:nth-child(2){
    background-color: $color-2;
}
.why-us-item:nth-child(4){
    background-color: $main-color;
}

.why-us-item .icon{
    font-size: 30px;
    color: $white-900;
    margin: 0 0 10px;
    transition: all 0.5s ease;
}

.why-us-item:hover .icon{
    color:$white-900;
}

.why-us-item h3{
    color:$white-900;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 10px;
    text-align: center;
}