<!-- header start -->
<div class="header">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="logo">
                <a href="#">planet express</a>
            </div>
            <input type="checkbox" id="nav-check">
            <label for="nav-check" class="nav-toggler">
                <span></span>
            </label>
            <div class="nav">
                <ul>
                    <li><a href="#home">home</a></li>
                    <li><a href="#promocion">promotion</a></li>
                    <li><a href="#precio">how much</a></li>
                    <li><a href="#team">team</a></li>
                    <li><a href="#newsletter">subscribe</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- header end -->

<!-- home section start -->
    <div class="home-section" id="home">
        <div class="container">
            <div class="row h-100 align-items-center align-content-center">
                <div class="home-text">
                    <h1>Planet Express <span>Pаckage Delivering</span></h1>
                    <h2>"Our crew is replaceable, your package isn't!"</h2>
                    <a href="#newsletter" class="btn btn-1">subscribe</a>
                </div>
                <div class="home-img">
                    <div class="home-img-inner">
                        <div class="home-course">
                            <div class="home-course-item"></div>
                            <div class="home-course-item"></div>
                            <div class="home-course-item"></div>
                            <div class="home-course-item"></div>
                        </div>
                        <img src="https://gabriel-de.github.io/assets/img/logo.png" alt="home-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- home section end -->


